#form-container, #loading-gif {
  transition: 0.7s ease-in-out;
}

#form-container.form-hide {
  transform: translateY(100px);
}

#loading-anim {
  pointer-events: none;
}

.form-hide {
  opacity: 0;
  pointer-events: none;
}

.form-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: baseline;
}

.form-checkbox input {
  margin: 1rem;
}